.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll-container::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #3b3b3b;
}
.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: aliceblue;
}
