.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

.scroll-container::-webkit-scrollbar {
  width: 100%; /* Ancho del scrollbar en 0 */
  height: 30px; /* Altura del scrollbar en 0 */
  visibility: hidden;
}
